<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>530879895661-4p789dc63ebkc6g8n3fia77t82t1mivh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.530879895661-4p789dc63ebkc6g8n3fia77t82t1mivh</string>
	<key>API_KEY</key>
	<string>AIzaSyA-EEBjJ-K2Y75nEJZtvZy98NMk4J5_Cv8</string>
	<key>GCM_SENDER_ID</key>
	<string>530879895661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aryaManga</string>
	<key>PROJECT_ID</key>
	<string>arya-manga</string>
	<key>STORAGE_BUCKET</key>
	<string>arya-manga.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:530879895661:ios:387affda7f3e73eb7fc764</string>
</dict>
</plist>